@charset "utf-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--------Reset CSS--------*/

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    position: relative;
}

a {
    text-decoration: none;
} 

header {
    width: 100%;
    height: 300px;
    background-color: #424242;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.icon-h {
    width: 117px;
    height: 117px;
    background: url(../img/BMICLogo.png) no-repeat;
    background-size: contain;
}

footer {
    width: 100%;
    height: 55px;
    background-color: #FFD366;
    padding-top: 17.5px;
    padding-bottom: 17.5px;
}

.push {
    height: 55px;
}

.icon {
    height: 55px;
    width: 55px;
    overflow: hidden;
    margin: 0 auto
}

.icon-f {
    width: 55px;
    height: 55px;
    display: block;
    margin: 0 auto;
    border-right: 55px solid transparent;
    /*透明邊框*/
    background: url(../img/BMICLogo.png) no-repeat;
    background-size: contain;
    -webkit-filter: drop-shadow(#424242 55px 0);
    filter: drop-shadow(#424242 55px 0);
}

header>div {
    display: inline-block;
    font-family: 微軟正黑體;
    font-size: 18px;
    color: #FFD366;
}

.send {
    height: 120px;
    width: 120px;
    background-color: #FFD366;
    border-radius: 99em;
    border: none;
    cursor: pointer;
    font-size: 20px;
    font-family: 微軟正黑體;
    color: #424242;
    border: 5px solid #FFD366;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.send:hover {
    border: 5px solid #FFFFE0;
}

.send:active {
    background-color: #DEA921;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.build {
    margin: 0 100px;
}

.build input {
    border: 2px solid #FFD366;
    border-radius: 5px;
    width: 250px;
    height: 40px;
}

.heigth {
    margin-bottom: 20px;
}

.build p {
    line-height: 30px;
}

h2 {
    font-family: 微軟正黑體;
    font-size: 24px;
    padding-top: 50px;
    padding-bottom: 30px;
}

.thin {
    height: 120px;
    width: 120px;
    background-color: #424242;
    border: 5px solid #31BAF9;
    border-radius: 99em;
    font-size: 35px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #31BAF9;
}

.good {
    height: 120px;
    width: 120px;
    background-color: #424242;
    border: 5px solid #86D73F;
    border-radius: 99em;
    font-size: 35px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #86D73F;
}

.fat {
    height: 120px;
    width: 120px;
    background-color: #424242;
    border: 5px solid #FF982D;
    border-radius: 99em;
    font-size: 35px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #FF982D;
}

.toofat {
    height: 120px;
    width: 120px;
    background-color: #424242;
    border: 5px solid #FF1200;
    border-radius: 99em;
    font-size: 35px;
    font-family: 微軟正黑體;
    font-weight: bold;
    color: #FF1200;
}

.botton {
    position: relative;
}

.back {
    position: absolute;
    left: 95px;
    top: 77px;
    width: 25px;
    height: 25px;
    border-radius: 99em;
    background: url(../img/icons_loop.png) no-repeat;
    background-color: red;
    background-position: center;
    display: none;
}

.back-fin {
    position: absolute;
    left: 95px;
    top: 77px;
    width: 25px;
    height: 25px;
    border-radius: 99em;
    background: url(../img/icons_loop.png) no-repeat;
    background-position: center;
    display: block;
    border: none;
}

.botton {
    position: relative;
}

.thin-color {
    border-left: 3px solid #31BAF9;
}

.good-color {
    border-left: 3px solid #86D73F;
}

.fat-color {
    border-left: 3px solid #FF982D;
}

.toofat-color {
    border-left: 3px solid #FF1200;
}

.container {
    min-height: 100%;
    margin-bottom: -55px;
    background-color: rgba(166, 166, 166, 0.1);
}

.container h2 {
    text-align: center;
}

ul li:nth-child(even) {
    display: none;
}

ul li {
    padding: 12px 0;
    width: 600px;
    margin: 0 auto 20px;
    font-family: arial, 微軟正黑體;
    font-size: 16px;
    background-color: #fff;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    position: relative;
}

ul li:hover {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
    -webkit-box-shadow: 2px 2px 6px #aaa;
    box-shadow: 2px 2px 6px #aaa;
}

ul li span {
    font-size: 10px;
}

ul li a {
    position: absolute;
    right:20px;
}

#clear {
    color: #FFD366;
    font-family: 微軟正黑體;
    border: 1px solid #FFD366;
    background-color: #FFD366;
    display: inline-block;
    width: 56px;
    line-height: 56px;
    border-radius: 28px;
    position: absolute;
    right: 150px;
    top: 40px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    overflow: hidden;
}

#clear:hover {
    padding: 0 25px;
    width: auto;
    background-color: rgba(168, 168, 168, 0);
}

#clear span {
    white-space: nowrap;
    opacity: 0;
}

#clear:hover span {
    opacity: 1;
}

#clear::after {
    content: "×";
    font-size: 40px;
    line-height: 50px;
    color: #fff;
    position: absolute;
    right: 13px;
    top: 0;
}

#clear:hover::after {
    opacity: 0;
}